.auth__wrapper {
  container-type: inline-size;
  container-name: authentication;

  display: grid;
  place-items: center;
}

.authentication__container {
  min-height: 100vh;
  max-height: 900px;

  width: 100%;
  max-width: 1300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 2rem;

  padding: 1rem 3rem 2rem;
}

.authentication__container > section {
  width: 100%;

  -webkit-animation: opacity 1200ms;
  -moz-animation: opacity 1200ms;
  -ms-animation: opacity 1200ms;
  -o-animation: opacity 1200ms;
  animation: opacity 1200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text__button {
  background-color: transparent;
}

/*  */

/*  */

/* Header section */

.authentication__header {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.header__main {
  font-size: 116px;
  font-family: "Nabla";
  line-height: 1.2;
}

.header__sub {
  padding-left: 15px;
}

.header__sub > h2 {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 35ch;
}

.header__sub > h2 > span {
  color: var(--text-yellow);
  font-weight: 300;
}

.header__sub > p {
  font-weight: 300;
  letter-spacing: 0.035rem;
}

.header__sub > p > button {
  color: var(--text-yellow);
  background-color: transparent;
  font-size: 16px;
}

.header__sub > p > button:hover {
  text-decoration: underline;
}

/* Auth Forms */

.authentication__forms {
  container-type: inline-size;
  container-name: forms;
}

.form__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  margin-left: auto;
  padding: 3rem 3rem 2rem;

  width: 100%;
  max-width: 750px;

  border: 2px solid var(--border-yellow-faded);
  border-radius: 8px;

  backdrop-filter: blur(5px);
  background-color: var(--background-fade);
}

.form__container > h2 {
  text-align: end;
  font-size: 24px;
  font-weight: 500;
  font-family: "Open Sans";
  text-transform: uppercase;
}

.form__container > h2 > span {
  color: var(--text-yellow);
  font-weight: 300;
}

.sign-in > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign-up > form {
  display: grid;
  place-items: center;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.sign-up > form > div:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.sign-up > form > div:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.sign-up > form > button {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.form__button {
  padding: 1rem;
  width: 100%;

  border-radius: 3px;

  background-color: var(--background-yellow);
  box-shadow: 0 0 5px var(--shadow-yellow);
  color: var(--text-dark);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;

  transition: 200ms;
}

.form__button:disabled {
  background-color: var(--background-fade-grey);
  box-shadow: none;
  color: var(--text-light);

  cursor: default;
}

.sign-in__buttons {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.25rem;
}

.forgot-button {
  font-size: 12px;
  font-weight: 700;
  color: var(--text-light);
  background-color: transparent;
  text-transform: uppercase;

  transition: 150ms;
}

.forgot-button:hover {
  color: var(--text-yellow);
}

.log-type {
  display: flex;
  align-self: center;
  column-gap: 0.25rem;

  font-weight: 300;
}

.log-type > button {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-yellow);
  background-color: transparent;
  min-width: 70px;
}

.google-auth {
  align-self: center;
  margin-top: 1.5rem;
}

.google-auth > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem 1.25rem;

  background-color: transparent;
  border: 2px solid var(--border-grey);
  border-radius: 5px;

  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.015rem;

  transition: 200ms;
}

.google-auth > button:hover {
  border: 2px solid var(--border-yellow);
  background-color: var(--background-fade-black-2);
  box-shadow: 0 0 4px 1px var(--shadow-yellow);
}

.google-auth > button > svg {
  height: 21px;
  width: 21px;
}

/*  */

/* Demo Arrow */

.demo__pointer {
  position: absolute;
  top: 102%;
  left: 270px;
}

.demo__pointer > img {
  height: 125px;
  width: 145px;
}

.demo__pointer > p {
  position: absolute;
  font-family: "Nabla";
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  max-width: 10ch;

  top: 55%;
  left: -150px;
}

/*  */

/* Background circles */

.circles__container {
  position: absolute;
  overflow: hidden;

  height: 100%;
  width: 100%;
  max-width: 1200px;
  min-width: 500px;

  opacity: 0.8;
  z-index: -1;
  filter: blur(2px);

  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.circles__container > img:nth-child(1) {
  height: 90px;
  width: 90px;
}

.circles__container > img:nth-child(2) {
  height: 200px;
  width: 200px;

  align-self: center;
  margin-right: 5rem;

  animation-delay: 150ms;
}

.circles__container > img:nth-child(3) {
  height: 360px;
  width: 360px;

  align-self: flex-end;

  animation-delay: 300ms;
}

.circles__container > img {
  opacity: 0;

  -webkit-animation: scaleinmax 800ms;
  -moz-animation: scaleinmax 800ms;
  -ms-animation: scaleinmax 800ms;
  -o-animation: scaleinmax 800ms;
  animation: scaleinmax 800ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*  */

/*  */

/* Container Queries */

@container authentication (max-width: 1080px) {
  .authentication__container {
    row-gap: 3rem;
    padding: 1rem 1rem 2rem;
  }

  .authentication__header {
    align-items: center;
    text-align: center;
    row-gap: 1.5rem;
  }

  .header__main {
    font-size: 98px;
  }

  .header__sub {
    padding-left: 0;
  }

  .header__sub > h2 {
    font-size: 38px;
  }

  .form__container {
    margin-left: 0;
    margin: 0 auto;
  }

  .demo__pointer {
    left: calc(50% - 70px);
  }

  .demo__pointer > img {
    height: 120px;
    width: 120px;
  }
}

@container authentication (max-width: 780px) {
  .header__main {
    font-size: 64px;
  }

  .header__sub > h2 {
    margin: 0 auto;
    font-size: 22px;
  }

  .header__sub > p {
    font-size: 15px;
  }

  .circles__container {
    opacity: 0.5;
    filter: blur(4px);
  }

  .demo__pointer {
    display: none;
  }
}

@container forms (max-width: 650px) {
  .form__container {
    padding: 2rem;
    row-gap: 1rem;
  }

  .sign-up > form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    gap: 1rem 0;
  }

  .sign-up > form > div {
    grid-column: 1 / 2;
  }

  .sign-up > form > div:nth-child(1) {
    grid-row: 1 / 2;
  }
  .sign-up > form > div:nth-child(2) {
    grid-row: 2 / 3;
  }
  .sign-up > form > div:nth-child(3) {
    grid-row: 3 / 4;
  }
  .sign-up > form > div:nth-child(4) {
    grid-row: 4 / 5;
  }
  .sign-up > form > button {
    grid-row: 5 / 6;
  }
}

@container forms (max-width: 520px) {
  .form__container {
    padding: 2rem 1rem;
  }

  .sign-in__buttons {
    flex-direction: column;
    row-gap: 0.75rem;
    margin-top: ;
  }

  .forgot-button {
    font-size: 14px;
  }

  .google-auth {
    margin-top: 0;
  }
}

@container forms (max-width: 320px) {
  .log-type {
    flex-direction: column;
  }
}

@media screen and (max-height: 840px) {
  .demo__pointer {
    display: none;
  }
}
