// create list styles

.create-list__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  padding: 3rem 2rem;

  background-color: var(--color-background-dark-2);
  border-radius: 8px;
}

// new title

.title__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  padding: 1rem;
}

.title__header {
  font-size: 24px;
  font-weight: 400;
  color: var(--base-text-light-2);
}

.title__form {
  display: grid;
  grid-template-columns: 1fr max-content;
  width: 100%;

  input {
    border-bottom: 1px solid var(--color-background-dark-3) !important;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 75px;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--base-yellow);

    transition: 300ms;
  }

  button:disabled {
    color: var(--color-background-dark-3);
    cursor: default;
  }
}

// new word form

.new-word__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  transition: 300ms;

  -webkit-animation: scalein 600ms;
  -moz-animation: scalein 600ms;
  -ms-animation: scalein 600ms;
  -o-animation: scalein 600ms;
  animation: scalein 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.list__title {
  font-family: "Nabla";
  font-size: 42px;
  text-transform: uppercase;
}

.save__button {
  align-self: center;

  font-size: 18px;
  color: var(--base-text-light-2);
  text-transform: uppercase;
  border-radius: 8px;

  padding: 0.75rem 2rem;

  background: linear-gradient(
    180deg,
    var(--color-background-dark-3) 0%,
    rgba(84, 84, 84, 0.8) 40%,
    var(--color-background-dark-2) 100%
  );

  box-shadow: 0 0 2px var(--base-white-faded);

  transition: 200ms;

  &:hover {
    box-shadow: 0 0 5px var(--base-yellow);
    color: var(--color-text-light);
  }
}

.empty {
  opacity: 0 !important;
  height: 0;
}

.save {
  opacity: 1 !important;
}
