.fullpage__container {
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
}

/////// <LoadingSpinner /> styles

.loader__container {
  display: grid;
  place-items: center;
  row-gap: 3rem;

  h1 {
    font-family: "Nabla";
    font-size: 96px;

    @media screen and (max-width: 576px) {
      font-size: 64px;
    }
  }

  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/////// <ErrorFallback /> styles

.errormsg__container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  row-gap: 1rem;

  svg {
    font-size: 76px;
  }

  h1 {
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
  }
  @media screen and (max-width: 576px) {
    svg {
      font-size: 52px;
    }
    h1 {
      font-size: 32px;
    }
  }
}
