// New Word Form

.new-word__form {
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
  column-gap: 2rem;

  padding: 2.5rem 1.5rem;
  border-radius: 7px;
  background-color: var(--color-background-dark-3);
  box-shadow: 0 0 5px 2px var(--color-background-dark-1);
}

.input__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;

  p {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.035rem;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--base-text-light-2);
  }
}

.word__input {
  border-bottom: 1px solid var(--base-white-faded) !important;
  color: var(--base-text-light-2);
  padding: 0.25rem 0 !important;
}

.word-input__button {
  padding: 0 1rem;
  border-radius: 7px;

  text-transform: uppercase;
  color: var(--color-text-light);
  transition: 200ms;

  &:disabled {
    cursor: default;
    color: var(--color-text-dark);
    background-color: var(--color-background-dark-3);
  }
}

// Words List style

.words-list__container {
  display: flex;
  flex-direction: column;

  row-gap: 1.25rem;
  width: 100%;
}

.word-row__container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border-radius: 8px;

  padding-inline: 1.5rem 1rem;

  background-color: var(--color-background-dark-3);
  transition: 150ms;

  &:hover {
    background-color: var(--color-background-dark-2);

    .buttons__container {
      opacity: 1;
    }
  }

  -webkit-animation: wordRow 600ms;
  -moz-animation: wordRow 600ms;
  -ms-animation: wordRow 600ms;
  -o-animation: wordRow 600ms;
  animation: wordRow 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.word__container {
  display: flex;
  flex-grow: 1;
  column-gap: 1rem;
  align-items: center;

  transition: 150ms;

  div {
    width: 50%;
    font-size: 20px;
    overflow: hidden;
    padding-right: 0.5rem;

    input {
      background-color: transparent;

      width: 100%;
      font-size: inherit;
    }
  }

  div:nth-child(1) {
    border-right: 2px solid var(--base-yellow);
  }
}

.edit__input {
  &::after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background: var(--base-yellow);
    transition: 300ms;
  }

  input {
    width: 90% !important;

    padding-bottom: 0.5rem;

    background-color: transparent;
    border-bottom: 1px solid var(--base-white-faded) !important;
    color: var(--base-text-light-2);
  }
}

.edit-input__focused {
  &::after {
    width: 90%;
    left: 0;
  }
}

.buttons__container {
  display: flex;
  column-gap: 0.75rem;
  opacity: 0;

  width: 76px;

  transition: 200ms;

  button {
    background-color: transparent;
    height: 32px;
    width: 32px;
    padding: 4px;
    border-radius: 50%;

    transition: 200ms;

    svg {
      font-size: 24px;
    }
  }
}

.buttons__container-editing {
  display: grid;
  place-items: center;
  opacity: 1;

  width: 76px;
  height: 32px;

  transition: 200ms;

  button {
    background-color: transparent;
    // border: none;
    // outline: none;

    font-size: 16px;
    text-transform: uppercase;

    &:hover {
      color: var(--base-yellow);
    }
  }
}

.edit:hover {
  color: green;
}
.delete:hover {
  color: red;
}

@keyframes wordRow {
  0% {
    padding-block: 0;
    opacity: 0;
  }
  80% {
    padding-block: 1.5rem;
  }
  100% {
    opacity: 1;
    padding-block: 1.5rem;
  }
}

// ListDisplay styles

.list-display__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    justify-self: start;
    justify-items: flex-start;

    font-family: "Nabla";
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
  }
}

.list-display__menu {
  display: grid;
  place-items: center;
  height: 50px;
  width: max-content;

  button {
    display: grid;
    place-items: center;

    background-color: transparent;
    border-radius: 50%;

    height: 40px;
    width: 40px;

    cursor: pointer;
    transition: 200ms;

    svg {
      font-size: 26px;
    }

    &:hover {
      background-color: var(--color-background-dark-2);
      color: var(--base-yellow);
    }
  }

  .menu {
    position: absolute;
    z-index: 5;
    top: 110%;
    right: 40%;

    width: max-content;

    height: 0;
    overflow: hidden;
    transition: 150ms;

    background-color: var(--color-background-dark-1);
    border: 0 solid var(--base-grey-light);
    border-radius: 4px;

    li {
      z-index: 5;
      padding: 0.75rem 1.5rem 0.75rem 1rem;
      border-bottom: 1px solid var(--base-grey-light);

      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: var(--color-background-dark-3);
      }
    }

    &__open {
      height: 142px;
      border: 1px solid var(--base-grey-light);
    }

    li:nth-child(3) {
      border-bottom: none;
    }
  }
}

.empty__list {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--base-text-light-2);

  span {
    cursor: pointer;
    transition: 150ms;
    text-decoration: underline;

    &:hover {
      color: var(--base-yellow);
    }
  }
}

// List Delete Modal

.modal__container {
  display: grid;
  place-items: center;

  min-width: 100vw;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;
  background-color: rgba(41, 41, 41, 0.9);
  backdrop-filter: blur(8px);
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;

  padding: 3rem;
  border-radius: 4px;
  background-color: var(--color-background-dark-3);
  box-shadow: 0 0 10px var(--base-grey-dark);

  font-size: 20px;

  -webkit-animation: scalein 300ms;
  -moz-animation: scalein 300ms;
  -ms-animation: scalein 300ms;
  -o-animation: scalein 300ms;
  animation: scalein 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modal__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;

  button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;

    border-radius: 8px;
    box-shadow: 0 0 5px var(--base-box-shadow);
  }

  .cancel {
    background-color: rgb(200, 0, 0);
  }
}

// List Display - Rename List

.rename__input {
  background-color: transparent;

  font-size: 36px;
  line-height: 50px;
  font-family: "Nabla";
}

.rename__button {
  background-color: var(--color-background-dark-2);

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;

  padding: 0.5rem 0.75rem;
  border-radius: 4px;

  transition: 200ms;

  &:hover {
    color: var(--base-yellow);
    background-color: var(--color-background-dark-3);
  }
}

// List Display - Add words

.list-display__new-word {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: -2rem;

  width: 100%;
  height: 0px;
  opacity: 0;

  transition: 500ms;
}

.is-adding {
  opacity: 1;
  height: 215px;
  margin-top: 0;
}
