// outlet

.outlet__wrapper {
  display: grid;
  place-items: center;

  width: 100%;
  max-width: 1000px;

  height: 100%;
}

.outlet__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  width: 100%;
  min-width: 300px;
  max-width: 1000px;

  -webkit-animation: scalein 600ms;
  -moz-animation: scalein 600ms;
  -ms-animation: scalein 600ms;
  -o-animation: scalein 600ms;
  animation: scalein 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scalein {
  0% {
    scale: 0.9;
    opacity: 0.5;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.outlet__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 1rem;

  width: 100%;
}

.outlet__title {
  h2 {
    justify-self: start;
    justify-items: flex-start;

    font-family: "Nabla";
    font-size: 36px;
    text-transform: uppercase;
  }

  p {
    color: rgb(150, 154, 176);
    font-weight: 300;
    text-transform: uppercase;
  }
}

.outlet__spinner {
  min-height: 250px;
}

// list card styles

.card__container {
  display: flex;
  flex-direction: column;

  width: 225px;
  height: 200px;
  border-radius: 8px;

  cursor: pointer;
}

.list__card {
  box-shadow: 0 0 2px var(--base-white-faded);
  background: linear-gradient(
    180deg,
    var(--color-background-dark-3) 0%,
    rgba(84, 84, 84, 0.8) 40%,
    var(--color-background-dark-2) 100%
  );

  &:hover {
    box-shadow: 0 0 8px var(--base-yellow-dark);

    .open {
      opacity: 1;
    }
  }
}

.action__card {
  align-items: center;
  justify-content: center;
  row-gap: 1rem;

  border: 1px solid var(--base-divider-dark-2);
  color: var(--base-white-faded);
  text-transform: uppercase;

  transition: all 300ms ease;

  svg {
    font-size: 56px;
  }

  &:hover {
    border: 1px solid var(--color-border-light);
    color: var(--base-white-mute);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
  row-gap: 0.25rem;

  overflow: hidden;

  text-transform: uppercase;

  h5 {
    font-size: 24px;
    font-weight: 500;
    font-family: "Roboto";
  }

  p {
    color: rgb(150, 154, 176);
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
  }
}

.open {
  position: absolute;
  left: 15px;
  bottom: 12px;
  opacity: 0;

  font-family: "Nabla";
  font-size: 26px;

  cursor: pointer;

  transition: all 300ms ease;
}

// list display

// practice display
