@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

/* color palette */
:root {
  --base-black: rgb(0, 0, 0);
  --base-black-soft: rgb(34, 34, 34);
  --base-black-mute: rgb(41, 41, 41);

  --base-black-faded-1: rgba(0, 0, 0, 0.15);
  --base-black-faded-2: rgba(0, 0, 0, 0.35);

  --base-white: rgb(255, 255, 255);
  --base-white-soft: rgb(241, 241, 241);

  --base-white-faded-1: rgba(255, 255, 255, 0.25);
  --base-white-faded-2: rgba(255, 255, 255, 0.75);

  --base-grey-light: rgb(206, 195, 189);
  --base-grey-dark: rgb(84, 84, 84);

  --base-yellow: rgb(254, 205, 31);
  --base-yellow-dark: rgb(218, 173, 9);
  --base-yellow-faded: rgba(254, 205, 31, 0.2);

  /* new var */
}

/* semantic color variables for this project */
:root {
  --base-divider-light-1: rgba(60, 60, 60, 0.29);
  --base-divider-light-2: rgba(60, 60, 60, 0.12);
  --base-divider-dark-1: rgba(84, 84, 84, 0.65);
  --border-dark-2: rgba(84, 84, 84, 0.48);

  --base-box-shadow: rgba(0, 0, 0, 0.25);
  --base-background-filter: rgba(84, 84, 84, 0.3);

  --base-text-light-1: var(--base-white-soft);
  --base-text-light-2: var(--base-grey-light);

  --base-text-dark-1: var(--base-black-mute);
  --base-text-dark-2: var(--base-grey-dark);

  --background-light: var(--base-white-soft);

  --background-faded: var(--base-background-filter);

  --border-light-hover: var(--base-white-soft);

  --border-dark: var(--base-black-soft);
  --border-dark-hover: var(--base-yellow);

  --heading-light: var(--base-white-soft);
  --heading-dark: var(--base-black-soft);

  /* Text */
  --text-light: var(--base-white-soft);
  --text-light-grey: var(--base-grey-light);
  --text-light-faded: var(--base-white-faded-1);

  --text-dark: var(--base-black-mute);

  --text-yellow: var(--base-yellow);

  /* Borders */
  --border-light: var(--base-white-soft);

  --border-grey: var(--base-grey-light);
  --border-grey-faded: rgba(84, 84, 84, 0.48);

  --border-yellow: var(--base-yellow);
  --border-yellow-faded: var(--base-yellow-faded);

  /* Backgrounds */
  --background-dark-1: var(--base-black-soft);
  --background-dark-2: var(--base-black-mute);
  --background-dark-3: var(--base-grey-dark);

  --background-fade-black: var(--base-black-faded-1);
  --background-fade-black-2: var(--base-black-faded-2);
  --background-fade-grey: var(--base-white-faded-1);

  --background-yellow: var(--base-yellow);

  /* Box shadows */
  --shadow-yellow: var(--base-yellow);
  --shadow-light: var(--base-white-faded-1);
  --shadow-grey: var(--base-black-mute);
}

/* CSS basic rules set up */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html:focus-within {
  scroll-behavior: smooth;
}

:root {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 16px;

  color: var(--text-light);
  background: var(--background-dark-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto";
}

p,
a,
li,
input,
button,
textarea,
select {
  font-family: "Open Sans";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  outline: none;
  border: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

button {
  background-color: var(--background-dark-2);
}

/* Animations keyframes */

@keyframes opaflash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleinmax {
  0% {
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes scaleinmin {
  0% {
    scale: 0.9;
    opacity: 0.5;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes height {
  0% {
    height: 0;
    padding-block: 0;
    opacity: 0;
  }
  100% {
    height: 49px;
    opacity: 1;
  }
}

@keyframes wordRow {
  0% {
    padding-block: 0;
    opacity: 0;
  }
  80% {
    padding-block: 1.5rem;
  }
  100% {
    opacity: 1;
    padding-block: 1.5rem;
  }
}

@keyframes cardflash {
  0% {
    border: 2px solid var(--border-grey-faded);
  }

  50% {
    border: 2px solid var(--border-grey);
  }

  100% {
    border: 2px solid var(--border-grey-faded);
  }
}

@keyframes shakehorizontal {
  10%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(5px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes incorrect {
  10%,
  90% {
    transform: translate3d(-5px, 0, 0);
    box-shadow: 0 0 8px 1px red;
  }

  20%,
  80% {
    transform: translate3d(5px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(5px, 0, 0);
  }

  100% {
    box-shadow: none;
  }
}
